svg#cart-icon{
    width: 30px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.icon-cart{
    position: relative;
}
.icon-cart span{
    position: absolute;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
}
.showcase{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.showcase .shop-product {
    background-color: antiquewhite;
}

.cart{
    width: 400px;
    background-color: #353432;
    color: #eee;
    position: fixed;
    top: 0;
    right: 0px;
    bottom: 0;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s;
}
.cart-products{
    overflow: auto;
}