svg#cart-icon{
    width: 30px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.icon-cart{
    position: relative;
}
.icon-cart span{
    position: absolute;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
}
.showcase{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}