svg#cart-icon{
    width: 30px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.icon-cart{
    position: relative;
}
.icon-cart span{
    position: absolute;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
}
.showcase{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.showcase .shop-product {
    background-color: antiquewhite;
}
.showcase .shop-product img{
    max-width: 50px;
}

.cart {
    width: 400px;
    background-color: #353432;
    color: #eee;
    position: fixed;
    top: 0;
    right: -400px;
    bottom: 0;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: right .5s;
    z-index: 1000;
}

.cart.open {
    right: 0;
}
.cart-products{
    overflow: auto;
}
.cart-product img{
    max-width: 30px;
}
.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.order-modal {
    display: none;
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);

    display: flex;
    justify-content: center;
    align-items: center;
}

.order-modal.active {
    display: flex;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    max-width: 90%;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
.modal-content {
  position: relative;
}